# 빅데이터02 파이썬제어문

## if문

In [ ]:
if True:
    print('조건문 가동')

In [10]:
x,y = 3,2
print(f'x={x} y={y} 일 떄')

print('x<y:',x<y)
print('x>y:',x>y)
print('x>=y:',x>=y)
print('x<=y:',x<=y)
print('x==y:',x==y)
print('x!=y:',x!=y)

x=3 y=2 일 떄
x<y: False
x>y: True
x>=y: True
x<=y: False
x==y: False
x!=y: True

In [16]:
#만약 5000원의 돈을 가지고 있으면 택시를 타고, 그렇지 않으면 걸어가라.
money = int(input('주머니에 현금이 얼마있어?')or 3000)
if money >= 5000:
    print('택시타자')
else:
    print('걸어가자')

주머니에 현금이 얼마있어? 7000

택시타자

In [18]:
money = 2000
card = False
friend = True 

if (money >= 30000 and friend) or not card:
    print("싫어도 걸어가")
else:
    print("택시타고 가세요")

싫어도 걸어가

In [20]:
print(3 in[3,4,6,78,98,1,2,1,2,3])
print(3 not in[3,4,6,78,98,1,2,1,2,3])
print('a' in ('a','b','c','d','e'))
print('f' not in ('a','b','c','d','e'))
print('y' not in 'python')

True
False
True
True
False

In [22]:
#조건부 표현식
score = int(input('점수를 입력하세요'))
'''
if score >= 60:
    message = "성공"
else:
    message = "실패" '''

message = "성공" if score>=60 else "실패"
print(message)

점수를 입력하세요 4

실패

## while문

In [24]:
hit = 0
while hit < 10:
    hit += 1
    print(f'나무를 {hit}번 찍었습니다.')
    if hit == 10:
        print("나무가 넘어갑니다,")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다,

In [5]:
# while의 break구문 
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number:
"""
number = 0
while number !=4 :
    print(prompt)
    number = int(input())
    if number > 4:
        print('잘못된 입력입니다.')
        break  
    print(f'입력하신 숫자는 {number} 입니다.')
print('프로그램을 종료합니다.')

1. Add
2. Del
3. List
4. Quit

Enter number:

 8

잘못된 입력입니다.
프로그램을 종료합니다.

In [8]:
# while의 continue 구문 
a = 0
while a < 10:
    a += 1
    if a % 2 == 0:
        print('난달라',a) 
        continue
    print(a)

1
난달라 2
3
난달라 4
5
난달라 6
7
난달라 8
9
난달라 10

## for문

In [7]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i, end='') #end='' 를 사용하면 세로가 아닌 일렬로 출력됨

123456789

In [8]:
for i in 'kakao talk':
    print(i, end='')

kakao talk

In [9]:
mix = [(1,2),(3,4),(5,6)]
for (f,r)in mix:
    print(f'{f} x {r} = {f*r}')

1 x 2 = 2
3 x 4 = 12
5 x 6 = 30

In [12]:
#for 구문과 zip구문 
a = [1,2,3,4,5,6,7,8,9]
b = [11,22,33,44,55,66,77,88,99]
c = [9,8,7,6,5,4,3,2,1]
for (i,j,k) in zip(a,b,c,):
    print(f'{i} + {j} = {i+j} : {k}')

1 + 11 = 12 : 9
2 + 22 = 24 : 8
3 + 33 = 36 : 7
4 + 44 = 48 : 6
5 + 55 = 60 : 5
6 + 66 = 72 : 4
7 + 77 = 84 : 3
8 + 88 = 96 : 2
9 + 99 = 108 : 1

In [9]:
marks = [90, 58, 77, 24, 66, 78, 15, 100, 85]
s=0
for i in marks:
    s+=1
    if i<= 60:
        print(f'학생 {s}: {i}불합격')
        continue
        print(f'학생 {s}: {i}점 합격 축하합니다.')

학생 2: 58불합격
학생 4: 24불합격
학생 7: 15불합격

In [13]:
#range 함수
a = range(10) # -> 0 < = a < 10
b = range(77,85)
c = range(5,15)
print(list(a))
print(tuple(b))
print(set(c))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(77, 78, 79, 80, 81, 82, 83, 84)
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [15]:
# range 함수 2 #for(int i = 0; i <10; i++)
a = range(0,10,1)
b = range(10)
print(a==b)
print(list(range(4,20,2)))
print(tuple(range(10,-1,-1)))

True
[4, 6, 8, 10, 12, 14, 16, 18]
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [21]:
# tip - 배열의 index와 value
num = list(range(10,40,2)) #10부터 40까지 2씩 증가시킴
print(num)
for i, v in enumerate(num,4): #num, 다음 숫자는 시작값임 ex.인덱스 4번 부터 시작
    #enumerate의 경우 인덱스와 값을 출력해줌
    print(i,v, end=' : ')

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
4 10 : 5 12 : 6 14 : 7 16 : 8 18 : 9 20 : 10 22 : 11 24 : 12 26 : 13 28 : 14 30 : 15 32 : 16 34 : 17 36 : 18 38 :

In [30]:
for i in range(2,10):
    print(f"{str(i)+'단':+^10}")
    for j in range(1,10):
        print(f"{i} x {j} = {i * j}")
        print()

++++2단++++
2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

2 x 6 = 12

2 x 7 = 14

2 x 8 = 16

2 x 9 = 18

++++3단++++
3 x 1 = 3

3 x 2 = 6

3 x 3 = 9

3 x 4 = 12

3 x 5 = 15

3 x 6 = 18

3 x 7 = 21

3 x 8 = 24

3 x 9 = 27

++++4단++++
4 x 1 = 4

4 x 2 = 8

4 x 3 = 12

4 x 4 = 16

4 x 5 = 20

4 x 6 = 24

4 x 7 = 28

4 x 8 = 32

4 x 9 = 36

++++5단++++
5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

++++6단++++
6 x 1 = 6

6 x 2 = 12

6 x 3 = 18

6 x 4 = 24

6 x 5 = 30

6 x 6 = 36

6 x 7 = 42

6 x 8 = 48

6 x 9 = 54

++++7단++++
7 x 1 = 7

7 x 2 = 14

7 x 3 = 21

7 x 4 = 28

7 x 5 = 35

7 x 6 = 42

7 x 7 = 49

7 x 8 = 56

7 x 9 = 63

++++8단++++
8 x 1 = 8

8 x 2 = 16

8 x 3 = 24

8 x 4 = 32

8 x 5 = 40

8 x 6 = 48

8 x 7 = 56

8 x 8 = 64

8 x 9 = 72

++++9단++++
9 x 1 = 9

9 x 2 = 18

9 x 3 = 27

9 x 4 = 36

9 x 5 = 45

9 x 6 = 54

9 x 7 = 63

9 x 8 = 72

9 x 9 = 81

## 리스트 컴프리헨션

In [32]:
# 일반적
a = [1,2,3,4,5,6,7,8,9]
result =[]
for num in a:
    result.append(num**2)
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
result2 = [num**3 for num in a] #리스트 컴프리헨션 (for 기준으로 왼쪽은 리턴값관련, 오른쪽은 for문 관련)
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [36]:
result3 = [num**3 for num in a if num%2 ==0]
print(result3)

[8, 64, 216, 512]

In [39]:
result4 = [num**3 if num%2 ==0 else num**2 for num in a]
print(result4)

[1, 8, 9, 64, 25, 216, 49, 512, 81]

# 함수

In [10]:
def add(a,b):  #def는 함수를 만드는 명령어 
    print(f'입력하신 {a}와 {b}를 더하면 {a+b}입니다.')
    return a+b

In [13]:
add(3,4)

입력하신 3와 4를 더하면 7입니다.

7

In [12]:
add(77,23)

입력하신 77와 23를 더하면 100입니다.

100

In [11]:
c = add(7,8)
print(c)

입력하신 7와 8를 더하면 15입니다.
15

In [5]:
def world():
    print('Hello world')
    return 'say'

In [6]:
world()

Hello world

'say'

In [7]:
w = world()
print(w)

Hello world
say

In [8]:
# 매개변수 파라미터를 지정하여 호출하기
def sub(b = 4,a = 7):
    return a - b

In [10]:
result = sub(7,20)
print(result)

13

In [30]:
# 여러개의 입력값을 받는 함수
def many(*args):
    result = 0
    print(type(args),args)
    for v in args:
        result += v
    return result

In [14]:
many()

<class 'tuple'> ()

0

In [4]:
def manymany(choice,*args):
    print(type(args),args)
    if choice == 'add':
        result = 0
        for v in args:
            result += v
    if choice == 'mul':
        result = 1
        for v in args:
            result *= v
    return result
manymany('mul',3,4)

<class 'tuple'> (3, 4)

12

In [5]:
tp = 1,2,3,4,5,6
lt = [4,5,6,7,8]
result1 = manymany('add',*tp)
result2 = manymany('mul',*lt)
print(result1)
print(result2)

<class 'tuple'> (1, 2, 3, 4, 5, 6)
<class 'tuple'> (4, 5, 6, 7, 8)
21
6720

In [7]:
def new_many(*args):
    print(type(args),args[0],args[1])
    if args[0] == 'add':
        result = 0
        for v in args[1:]:
            result += v
    if args[0] == 'mul':
        result = 1
        for v in args[1:]:
            result *= v
    return result

In [8]:
ar = 'add',1,2,3,4
new_many(*ar)

<class 'tuple'> add 1

10

In [20]:
ar2 = 'mul', 3,4,5,6,7
new_many(*ar2)

<class 'tuple'> mul 3

2520

In [10]:
def new_many2(*args):
    print(type(args),args[0],args[1])
    if args[0] == 'add':
        result = 0
        for v in args[1:]:
            result += v
    if args[0] == 'mul':
        result = 1
        for v in args[1:]:
            result *= v
    return result

In [13]:
ar = 'add',1,2,3,4
new_many2(ar2[0],ar2[1],ar2[2],ar2[3],ar2[4]) #별표를 제거하할때는 어떻게 해야할까?

<class 'tuple'> add 1

10

In [18]:
def dic_star(**kwargs):
    print(type(kwargs),kwargs)

In [19]:
dic_star(a=1,b=2,c=3)

<class 'dict'> {'a': 1, 'b': 2, 'c': 3}

In [33]:
#함수의 리턴 값 
def mix(a,b):
    """이 함수는 두개의 인지를 받아서
    3개의 결과값을 출력합니다.
    결과는 덧셈, 곱셈과 10을 곱한값을 튜플로 묶어 출력합니다."""
    print(a,b)
    return a+b,a*b,a*10+b*10

In [26]:
result = mix(5,6)
aa,bb,cc = mix(7,8)
print(result,type(result))
print(aa,bb,cc)

5 6
7 8
(11, 30, 110) <class 'tuple'>
15 56 150

In [34]:
print(mix.__doc__)

이 함수는 두개의 인지를 받아서
    3개의 결과값을 출력합니다.
    결과는 덧셈, 곱셈과 10을 곱한값을 튜플로 묶어 출력합니다.

In [7]:
#함수와 변수
a = 1 
def var_test(a):
    a = a + 10
    print(a)
var_test(a)
print(a)

11
1

In [8]:
var_test(a)
print(a)

11
1

In [5]:
b = 1
def var_test2(b):
    b = b + 1 
    return b
b = var_test2(b)
print(b)

2

In [6]:
# global - 비권장음로 잘 안씀 
a = 1
def var_test3():
    """global 함수는 자제하고 return값으로 사용하길 권장"""
    global a
    a = a + 1
    print(a)
var_test3()
print(a)

2
2

In [2]:
#람다함수(익명함수)
add = lambda a, b: a + b
print(add(3,4))

7

In [3]:
mul = lambda a, b: a * b
print(mul(3,4))

12

In [5]:
#예제
'''def test(v):
    v**2''' 

#예제
arr = list(range(1,6))
sq = list(map(lambda a : a**2, arr))
print(sq)

[1, 4, 9, 16, 25]